<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Messages</h2>
    <ul>
      <% messages.forEach((card) => { %>
      <li>
        <p><%= card.user %></p>
        <p><%= card.text %></p>
        <p><%= card.added %></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
